* {
  font-family: var(--body-font);
}

.home{
  padding-right: 0px !important;
}

.home__container {
  position: relative;
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../../assets/Img/home1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  width: 100%;
}

.home__top{
  display: flex;
}

.home__title__div{
  display: inline-block;
  margin-left: 2.5%;
}

.home__logo{
  height: 100px;
  margin: auto 0 auto 0;
}

.home__data{
  padding: 80px;
}

.home__text{
  height: 400px;
  margin-left: 80px;
  min-width: 300px;
}

.home__title {
  color: var(--text-color);
  font-size: 50px;
  font-weight: var(--font-medium);
}

.home__title__bold {
  color: var(--text-color);
  font-size: 50px;
  font-weight: var(--font-bold);
  font-weight: var(--font-bold);
}

.home__description {
  font-size: 20px;
  color: var(--text-color);
  text-shadow: 2px 2px 5px #000000;
  width: 80%;
  margin-bottom: 90px;
}

.home__price {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.home__btns {
  display: flex;
  align-items: center;
}

.separator{
  height: 10px;
  background-color: var(--second-color);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
} 

@media (max-width: 576px){
  .home__title {
    font-size: 35px;
  }
  .home__title__bold{
    font-size: 35px;
  }
  .home__description{
    font-size: 14px;
    width: 100%;
    margin-bottom: 70px;
  }
  .home__logo{
    height: 70px;
  }
}

@media (min-width: 320px){
  .home__container{
    margin-top: 60px;
  }
  .home__data{
    padding: 50px;
  }
  
}

@media (min-width: 1024px){
  .home__container{
    margin-top: 100px;
  }
  .home__data{
    padding: 80px;
  }
  
}