* {
  font-family: var(--body-font);
}

.volunteer__container {
  padding: 5% 15%;
  background-image: url(../../assets/Img/comedor1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.volunteer__data {
  text-align: center !important;
  align-items: center !important;
}
.volunteer__title__bold {
  padding: 0 0 20px 0;
  color: var(--text-color);
  font-size: 60px;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-bold);
  text-shadow: 3px 3px 13px #000000;

}

.volunteer__description {
  margin-bottom: var(--mb-1-5);
  font-size: 20px;
  color: var(--text-color);
  font-weight: 500;
  text-shadow: 2px 2px 5px #000000;

}

.volunteer__btn {
  width: min-content !important;
  justify-self: center !important;
  background-color: var(--button-color) !important;
  border: none !important;
  border-radius: 15px !important;
  padding: 20px 30px !important;
  transition: 0.3s !important;
  margin-top: 40px;

}

.volunteer__btn:hover {
  background-color: var(--button-color-alt);
}

.volunteer__btn:focus {
  background-color: var(--button-color-alt);
  box-shadow: none;
}
