@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
.header{
    width: 100%;
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /*For animation dark mode*/
    transition: .4s;
  }
  
  .nav{
    background-color: var(--first-color);
    color: var(--text-color);
    margin-bottom: 100px;
}

.nav__logo{
  height: 50px;
  width: 50px;
  margin: 10px 10px 10px 30px; /* Arriba Derecha Abajo Izquierda*/
}

.nav-link{
  color: var(--text-color) !important;
  font-size: large !important;
  margin-right: 20px !important;
  transition: .3s !important;
} 

.nav-link:hover{
  color: var(--button-color-alt) !important;
}

.nav-link:focus{
  color: var(--button-color-alt) !important;
  
}

#navbarScrollingDropdown{
  color: var(--text-color);
  transition: .3s;
}

#navbarScrollingDropdown:hover{
  color: var(--button-color-alt) !important;
}

.dropdown-menu.show {
  background-color: var(--text-color) !important; 
  border: none;
}



.nav__link__item{
  color: var(--button-color-alt) !important;
  transition: .3s;
}

.nav__link__item:hover{
  background-color: var(--second-color) !important;
  
}

.search__btn{
  background-color: var(--second-color) !important;
  margin-right: 10px !important;
  border: none !important;
  transition: .3s !important;
}

.btn:hover{
  background-color: var(--button-color-alt) !important;
}

.btn:focus{
  background-color: var(--button-color-alt) !important;
  box-shadow: none !important;
}

.separator{
  height: 10px;
  background-color: var(--second-color);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
} 