.pricing__card__container{
    margin-top: 100px;
    margin-bottom: 80px;
}

.pricing__card{
    width: 70% !important;
    border: none !important;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pricing__header{
    background-color: var(--second-color) !important;
    border-radius: 5px 5px 0 0 !important;
    width: 100% !important;
    border: none !important;
}
  
.pricing__body{
    border-radius: 0 0 5px 5px !important;
    background-color: var(--first-color);
    padding: 0px !important;
    width: 100% !important;
}

.pricing__title{
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 8px;
}

.pricing__button{
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    width: 100%;
    border-radius: 0 0 5px 5px !important;
    padding: 15px !important;

}

.pricing__icon{
    margin-left: 10px;
}

.pricing__button:hover{
    background-color: var(--button-color-alt) !important;
}

.donate__card {
    margin: auto;
    margin-top: 100px;
    background-color: var(--first-color) !important;
    width: 90.5% !important;
    border: none !important;
    border-radius: 10px !important;
    margin-top: 100px;
}

.donate__header{
    background-color: var(--second-color) !important;
    border: none !important;
}

.donate__title {
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 8px;
}
  
.donate__text {
    color: var(--text-color);
    text-align: center;
    margin: 40px 50px 40px 50px;
}

.donate__card__text{
    margin: 0;
    text-align: left;
    font-size: 20px;
    margin-bottom: 40px;
}

.donate__button{
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    width: 100%;
    height: 60px;
    padding: 35px !important;
    border-radius: 0 0 5px 5px !important;
}

.donate__button:hover{
    background-color: var(--button-color-alt) !important;
}




.donate__span{
    color: var(--text-color);
    padding: 20px 40% 20px 40%;
    top: 50%;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
}



.donate__contact{
    background-color: var(--button-color);
    border-radius: 0px 0px 5px 5px !important;
    color: var(--text-color);
    border-radius: 10px;
    height: 50px;
    width: 100%;
    margin: auto;
    float: left;
    position: relative;
    transition: height .3s;
    -webkit-transition: height .3s;
    text-align: center;
    overflow: hidden;
    transition: 1.5s;
  }

.donate__contact:hover{
    height: 225px;
    background-color: var(--second-color);
}

.contact__title{
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
}

.contact__icon{
    margin-left: 10px;
    transition: .3s;
}

.donate__contact:hover .contact__icon{
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.5);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
 }

.contact__option{
    width: 100%;
    transition: .3s;
    margin: 0px;
    padding: 10px;
}

.contact__option:hover{
    background-color: var(--button-color);
}


@media (max-width: 576px) {
    .donate__card__text{
        font-size: 18px;
        text-align: left;
        margin-bottom: 40px;
    }
    .donate__text {
        color: var(--text-color);
        text-align: center;
        margin: 20px;
    }
    .contact__title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;   
    }
}

@media (max-width: 768px) {
    .pricing__title {
    font-size: 18px;
    margin-top: 8px;
    }
    .pricing__button{
    background-color: var(--button-color) !important;
    color: var(--text-color) !important;
    font-size: 10px !important;
    font-weight: 700 !important;
    width: 100%;
    border-radius: 0 0 5px 5px !important;
    padding: 15px !important;
    
    }

}

@media (max-width: 492px) {
    .pricing__title {
    font-size: 10px;
        margin-top: 8px;

    }
}