.header {
  background-color: var(--first-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /*For animation dark mode*/
  transition: 0.4s;
}

.fixed-top{
  padding: 0px !important;
}

.nav {
  background-color: var(--first-color);
  color: var(--text-color);
  height: 100px;
}

.me-auto{
  margin: auto;
}

.nav-link {
  color: var(--text-color) !important;
  font-size: 20px !important;
  transition: 0.3s !important;
  margin: 0px 30px 0 30px;
}

.nav-link:hover {
  color: var(--button-color-alt) !important;
  padding-top: 5px;
  font-size: 21px !important;
}

.nav-link:focus {
  color: var(--button-color-alt) !important;
}

.separator {
  height: 10px;
  background-color: var(--second-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-toggler{
  border: none !important;
  background-color: var() !important;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar-toggler-icon{
  color: var(--text-color) !important;
  font-size: 30px;
  transition: .3s;
}

@media (max-width: 768px){
  .navbar-nav-scroll{
    background-color: var(--button-color-alt);
    width: 100%;
    margin: 0px;
    max-height: none !important;
  }
  .nav-link{
    padding: 25px !important;
    width: 100%;
    margin: auto;
    text-align: center;
        
  }
  .nav-link:hover {
    color: var(--button-color-alt) !important;
    padding-top: 0px;
    font-size: 20px !important;
    background-color: var(--second-color);
    color: var(--text-color) !important;
  }
  .nav {
    height: 70px;
    margin-bottom: -100px;
  }

}
