.daily__title{
  text-align: center;
  margin-top: 60px !important;
  margin-bottom: 60px;
  color: var(--button-color-alt);
  font-size: 50px;
  font-weight: var(--font-bold);
}

.carousel__item{
  display: inline-block;
  width: 33.3%;
}

.carousel__container{
  padding-bottom: 90px;
}

.carousel-indicators > button{
  background-color: var(--second-color) !important;
}

.carousel-control-prev {
  width: 50px !important;
  margin-left: 20px;
}

.carousel-control-prev-icon {
  background-color: #77b3b8;
  border-radius: 20px;
  transition: 0.3s;
}

.carousel-control-next {
  width: 50px !important;
  margin-right: 20px;
}

.carousel-control-next-icon {
  background-color: #77b3b8;
  border-radius: 20px;
  transition: 0.3s;
}

@media (min-width: 320px){
  .card__container{
    display: flex;
  }
}