@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #e8ca9e;
  --second-color: #77b3b8;
  --button-color: #77b3b8;
  --button-color-alt: rgb(0, 56, 53);
  --title-color: rgb(242, 239, 235);
  --title-hover-color: #003835;
  --text-color: #f2efeb;
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(0, 22%, 90%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

.form__card__container {
  margin-top: 70px !important;
  margin-bottom: -30px !important;
  width: 500px;
}

.form__card {
  background-color: var(--first-color);
  border-radius: 0 0 20px 20px;
}

.form__header {
  height: 70px;
  background-color: var(--second-color);
  border: 0 0 5px 0;
  border-color: var(--text-color);
  border-radius: 20px 20px 0 0;
}

.form__title {
  color: var(--text-color);
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 600;
}

.form-label {
  color: var(--button-color-alt);
}

.form__button {
  background-color: var(--second-color) !important;
  border: none !important;
  transition: 0.3s !important;
  margin-top: 5px;
}

.form__button:hover {
  background-color: var(--button-color-alt);
}
