.about__container{
  display:grid;
  width: 75% !important;
  grid-template-columns: 50% 50%;
  margin: auto;
}

.about__title {
  text-align: center;
  margin-top: 60px !important;
  color: var(--button-color-alt);
  font-size: 50px;
  font-weight: var(--font-bold);
}

.cacaca{
    align-items:center;
    justify-content:center;

}


