
.AboutCard__container {
  justify-content: center;
  display: grid;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 700px 700px;
  grid-row: auto auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -20px;
}

.about__title {
  text-align: center;
  margin-top: 60px !important;
  color: var(--button-color-alt);
  font-size: 50px;
  font-weight: var(--font-bold);
}

.CardImage {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
}
