
.footer{
    background-color: var(--first-color);
    padding-top: 0;
    color: #F2EFEB;
}

.footer__row{
    text-align: left;
}

.footer__logo{
    width: 110px;
    margin-bottom: 25px;
}

#logo__col{
    text-align: center;
}

.text-reset{
    transition: .3s;
    text-decoration:none;
}

.text-reset:hover{
    color: var(--button-color-alt) !important;
    padding: 0 0 0 5px;
}

.media__link{
    transition: .3s;
}

.media__link:hover{
    color: #003835 !important;

}

.footer__low{
    background-color: var(--first-color);
}

.footer__separator{
    height: 10px;
    background-color: var(--second-color);
  } 

.footer__line{
    height: 2px;
    width: 70%;
    background-color: var(--second-color);
    margin: auto;
}

.col-md-4{
    width: 350px;
}

@media (min-width: 320px){
    .footer__logo{
        width: 80px;
    }
    .footer__row{
        text-align: center;
        font-size: 12px;
    }
    .footer__col{
        margin-bottom: 0px !important;
    }
    .footer__col__contact{
        margin-top: 35px !important;
    }
    .text-uppercase{
        font-size: 16px;
    }
    .footer__low{
        font-size: 10px;
        padding: 15px !important;
    }
  }

  @media (min-width: 768px){
    .footer__logo{
        width: 100px;
    }
    .footer__row{
        text-align: left;
        font-size: 12px;
    }
    .footer__col{
        margin-bottom: 0px !important;
    }
    .footer__col__contact{
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    .text-uppercase{
        font-size: 18px;
    }
    .footer__low{
        font-size: 10px;
        padding: 20px !important;
    }
  }

  @media (min-width: 1024px){
    #logo__col{
        margin: 0px !important;
    }
    .footer__logo{
        width: 100px;
    }
    .footer__row{
        text-align: left;
        font-size: 16px;
    }
    .footer__col{
        margin-bottom: 0px !important;
    }
    .footer__col__contact{
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    .text-uppercase{
        font-size: 20px;
    }
    .footer__low{
        font-size: 12px;
        padding: 20px !important;
    }
  }

  @media (min-width: 1440px){
    .footer__col__contact{
        text-align: left;
  }
}