.primary {
  margin-right: 20px !important;
  margin-left: 60px !important;
  background-color: var(--button-color) !important;
  border: none !important;
  border-radius: 15px !important;
  padding: 20px !important;
  transition: 0.3s !important;
}

.primary:hover {
  background-color: var(--second-color);
}

.primary:focus {
  background-color: var(--second-color);
  box-shadow: none;
}

.secondary {
  background-color: var(--second-color) !important;
  border: none !important;
  border-radius: 15px !important;
  padding: 20px !important;
  width: 150px !important;
  transition: 0.3s !important;
}

.secondary:hover {
  background-color: var(--button-color-alt);
}

.secondary:focus {
  background-color: var(--button-color-alt);
  box-shadow: none;
}
