.form__card__container {
  margin-top: 70px !important;
  margin-bottom: -30px !important;
  width: 500px;
}

.form__card {
  background-color: var(--first-color);
  border-radius: 0 0 20px 20px;
}

.form__header {
  height: 70px;
  background-color: var(--second-color);
  border: 0 0 5px 0;
  border-color: var(--text-color);
  border-radius: 20px 20px 0 0;
}

.form__title {
  color: var(--text-color);
  text-align: center;
  padding: 20px 0 20px 0;
  font-weight: 600;
}

.form-label {
  color: var(--button-color-alt);
}

.form__button {
  background-color: var(--second-color) !important;
  border: none !important;
  transition: 0.3s !important;
  margin-top: 5px;
}

.form__button:hover {
  background-color: var(--button-color-alt);
}
