.donate__page__container {
  margin-top: 100px !important;
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)), url(../../assets/Img/food.png);
  background-repeat: no-repeat;
  background-size: 110%;
}

.donate__card {
  height: 30%;
}

@media (min-width: 320px) {
  .donate__page__container{
    background-size: cover;
    margin-top: 50px !important;

  }
}

@media (min-width: 1024px) {
  .donate__page__container{
    margin-top: 100px !important;
  }
}